.home__container {
	width: 90%;
	margin: auto;
	padding-top: 50px;

	display: flex;
	justify-content: space-around;
	align-items: baseline;
	flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
	.home__container {
		padding-top: 100px;
	}
}


